body {
    margin: 0px;
    padding: 0px;
    position: relative;
}

* {
    box-sizing: border-box;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, min-content);
    position: fixed;
    width: min-content;
    height: min-content;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.box {
    height: 200px;
    width: 200px;
    border: 1px black solid;
    text-align: center;
    line-height: 200px;
    font-size: 100px;
}

#one,
#two,
#three {
    border-top: none;
}

#three,
#six,
#nine {
    border-right: none;
}

#seven,
#eight,
#nine {
    border-bottom: none;
}

#one,
#four,
#seven {
    border-left: none;
}

.narrator {
    text-align: center;
    font-weight: bold;
    font-size: 75px;
    margin-top: 40px;
}

.left-container {
    margin-left: 40px;
    display: grid;
    width: min-content;
    justify-items: center;
    row-gap: 20px;
}

.meta-data {
    border: 2px solid black;
    width: 200px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.243);
    font-weight: bold;
    font-size: 28px;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 11px;
    row-gap: 10px;
}

.meta-left {
    text-align: right;
}

.wins {
    text-align: center;
}

.reset {
    background-color: red;
}

.new-game {
    background-color: green;
}

button {
    width: 140px;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.pick-symbol {
    background-color: grey;
    width: 50px;
    height: 50px;
    font-weight: bold;
}

#x-button {
    margin-right: 5px;
}